:root {
  --otu-orange: #e75d2a;
  --otu-light-blue: #0077ca;
  --otu-blue: #003c71;
  --otu-dark-blue: #042a4b;
  --otu-light-grey: #edeeee;
  --otu-input-border: rgb(211, 211.5, 212.5);
}

body {
  margin: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  background-color: #f7f9fc;
}

a {
  text-decoration: none;
}

button {
  border-radius: 6px !important;
  transition: filter 0.3s !important;
}

button:hover {
  filter: brightness(0.9);
}

input, select {
  height: 44px !important;
}

.page-title,
.section-title {
  color: var(--otu-blue) !important;
  margin-bottom: 12px !important;
}

.page-title {
  margin-bottom: 12px !important;
}

.section-title {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.section-label {
  color: black;
  font-weight: 600;
}
